@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700&subset=latin-ext");
.font-weight-light {
  font-weight: 300; }

.font-weight-normal {
  font-weight: 400; }

.font-weight-medium {
  font-weight: 500; }

@font-face {
  font-family: 'Geneva';
  src: url("fonts/Geneva/Geneva.eot?#iefix") format("fonts/Geneva/embedded-opentype"), url("fonts/Geneva/Geneva.woff") format("woff"), url("fonts/Geneva/Geneva.ttf") format("truetype"), url("fonts/Geneva/Geneva.svg#Geneva") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-size: 14px; }

img {
  max-width: 100%; }

body {
  font-family: "Roboto", sans-serif; }

/******        COLORS     ******/
.custom-gray-1 {
  color: #7C7C7C; }

.custom-gray-2 {
  color: #8D8B8B !important; }

.text-black {
  color: #000 !important; }

.custom-black-1 {
  color: #313131 !important; }

.element-shadow {
  box-shadow: 0px 3px 34px rgba(0, 0, 0, 0.1); }

.shared-nr {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  padding: 7px;
  z-index: 10; }
  .shared-nr:hover {
    color: #fff; }

/*  SECTION HEADER TO TRANSPARENT   */
.section-header {
  background: linear-gradient(to right, white 10%, #F2F2F2);
  position: relative; }
  .section-header:after {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    height: 4px;
    width: 100%;
    background: linear-gradient(to right, #8AB957 70%, #F2F2F2); }

/*  SECTION HEADER TO TRANSPARENT END  */
.side-lead-news {
  line-height: 1.2rem;
  max-height: 2.2rem;
  overflow: hidden;
  color: #000; }
  .side-lead-news:hover {
    color: #000; }

.img-holder {
  position: relative;
  background: #ccc url("assets/logo-small.png") no-repeat center center;
  background-size: 50px auto;
  overflow: hidden;
  display: block; }
  .img-holder:after {
    content: '';
    display: block;
    width: 100%; }
  .img-holder.size-1by1:after {
    padding-top: 100%; }
  .img-holder.size-2-425by1:after {
    padding-top: 41%; }
  .img-holder.size-4by3:after {
    padding-top: 67.4%; }
  .img-holder.size-5by4:after {
    padding-top: 75.27%; }
  .img-holder.size-16by9:after {
    padding-top: 56.25%; }
  .img-holder.size-12by8:after {
    padding-top: 58.3%; }
  .img-holder.size-13by9:after {
    padding-top: 59.5%; }
  .img-holder img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

/* Buzz Out */
@-webkit-keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
@keyframes buzz {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg); }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg); }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg); }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg); }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0); }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0); } }
.buzz {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); }

.buzz:hover, .buzz:focus, .buzz:active {
  -webkit-animation-name: buzz;
  animation-name: buzz;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.animation {
  visibility: hidden;
  position: relative;
  animation-fill-mode: forwards;
  opacity: 0; }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideLeft {
  animation-name: slideLeft;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideRight {
  animation-name: slideRight;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.slideUp {
  animation-name: slideUp;
  visibility: visible;
  animation-duration: 1s; }

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.slideDown {
  animation-name: slideDown;
  visibility: visible;
  animation-duration: 1s;
  opacity: 1; }

.zoom {
  animation-name: zoom;
  visibility: visible;
  animation-duration: 2s;
  opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes zoom {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.form-control-success,
.form-control-warning,
.form-control-danger {
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: center right 0.5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem; }

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
  color: #5cb85c; }

.has-success .form-control {
  border-color: #5cb85c; }

.has-success .input-group-addon {
  color: #5cb85c;
  border-color: #5cb85c;
  background-color: #eaf6ea; }

.has-success .form-control-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E"); }

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
  color: #f0ad4e; }

.has-warning .form-control {
  border-color: #f0ad4e; }

.has-warning .input-group-addon {
  color: #f0ad4e;
  border-color: #f0ad4e;
  background-color: white; }

.has-warning .form-control-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E"); }

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
  color: #d9534f; }

.has-danger .form-control {
  border-color: #d9534f !important; }

.has-danger .input-group-addon {
  color: #d9534f;
  border-color: #d9534f;
  background-color: #fdf7f7; }

.has-danger .form-control-danger {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E"); }

.error-msg > * {
  color: #d9534f; }

/* TOP HEADER START */
.header-top {
  border-bottom: 3px solid #E9E9E9; }
  .header-top .header-top-logo {
    display: none; }
  .header-top .fa {
    height: 15px;
    width: 15px;
    margin-left: 10px;
    color: #BABABA;
    transition: 0.1s linear; }
    .header-top .fa:hover {
      color: #a1a1a1; }
  .header-top .prijava {
    font-size: 12px;
    letter-spacing: 0.32px;
    color: #ABABAB;
    display: inline-block;
    padding: 2px 5px !important;
    margin-left: 12px;
    border: 1px solid #8AB957;
    border-radius: 4px;
    transition: 0.1s linear; }
    .header-top .prijava:hover {
      color: #709c41; }

/* TOP HEADER END */
/* BOTTOM HEADER START */
.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  color: #25282A; }

.navbar-nav .nav-item {
  border-bottom: 1px solid #ccc; }

.navbar-nav .nav-item:last-of-type {
  border-bottom: none; }

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #25282A;
  background: #F2F2F2;
  transition: 0.2s linear; }

.navbar-nav .nav-item a {
  padding: 7px 7px !important; }

/*  HEADER SEARCH START  */
.search-wrapper .search-icon {
  width: 18px;
  height: 18px;
  color: #979797;
  cursor: pointer; }

.search-wrapper .form-group {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none; }

/*  HEADER SEARCH END  */
/* HAMBURGER BUTTON START */
.burger .line1,
.burger .line3 {
  display: block;
  width: 25px;
  height: 3px;
  background: #25282A;
  margin: 5px 0; }

.burger .line2 {
  display: block;
  width: 17px;
  height: 3px;
  background: #25282A;
  margin: 5px 0;
  transition: 0.4s linear; }

.burger:hover .line2 {
  width: 25px; }

.burger div {
  transition: 0.4s linear;
  position: relative;
  border-radius: 5px; }

.burger.active div:nth-of-type(2) {
  opacity: 0;
  transform: translateX(-100px); }

.burger.active div:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 6px); }

.burger.active div:nth-of-type(3) {
  transform: rotate(-45deg) translate(5px, -6px); }

.burger {
  right: 20px;
  cursor: pointer;
  overflow: hidden;
  padding: 2px 5px; }

/* HAMBURGER BUTTON END */
/* BOTTOM HEADER END */
/* HEADER BREAKPOINTS  */
@media (min-width: 992px) {
  /*  header switch  */
  .header-bottom .navbar-brand {
    display: none; }

  .header-top .header-top-logo {
    display: block; }

  /*  header switch end */
  .navbar-nav .nav-item {
    border-bottom: none; }

  .burger {
    display: none; }

  /* FILL ELEMENTS DEPENDS OF CATEGORY */
  .navbar-nav .nav-item a span {
    display: block;
    border-top: 3px solid transparent;
    position: relative;
    top: -3px;
    left: 0;
    width: 0%;
    transition: 0.4s ease; }

  .navbar-nav li a:hover span,
  .navbarnav-li a.active span {
    border-color: inherit !important;
    width: 100%; }

  .navbar-nav .nav-item a {
    padding: 0px !important; } }
.lead-news-section {
  /*   MAIN SIDE NEWS START    */
  /*   MAIN SIDE NEWS END    */
  /* LEAD NEWS OWL CAROUSEL SLIDER */
  /* LEAD NEWS OWL CAROUSEL SLIDER END */
  /* LEAD NEWS TABULATOR */
  /* LEAD NEWS TABULATOR END */ }
  .lead-news-section .side-item {
    margin-bottom: 0.7rem; }
    .lead-news-section .side-item .side-item-name {
      padding-bottom: 0.7rem;
      border-bottom: 1px solid #ccc; }
    .lead-news-section .side-item:last-of-type .side-item-name {
      border-bottom: none; }
    .lead-news-section .side-item .side-item-small-nr {
      font-size: 12px;
      padding-bottom: 0.7rem; }
  .lead-news-section .lead-slider-wrapper .news-detail {
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 13px 28px; }
    .lead-news-section .lead-slider-wrapper .news-detail .lead-news-date,
    .lead-news-section .lead-slider-wrapper .news-detail .lead-news-time,
    .lead-news-section .lead-slider-wrapper .news-detail .lead-news-category {
      font-size: 0.8rem; }
    .lead-news-section .lead-slider-wrapper .news-detail .news-lead-text {
      line-height: 2rem;
      max-height: 4rem;
      overflow: hidden; }
  .lead-news-section .lead-slider-wrapper .owl-carousel .owl-nav {
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
    .lead-news-section .lead-slider-wrapper .owl-carousel .owl-nav button .fa {
      color: #fff;
      display: inline-block;
      font-size: 34px;
      line-height: 34px;
      height: 34px;
      width: 30px;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 2px; }
  .lead-news-section .lead-slider-wrapper .shared-nr {
    right: -8px;
    bottom: 40px; }
  .lead-news-section .lead-tab-wrapper .nav-tabs .nav-link {
    color: #25282A; }
    .lead-news-section .lead-tab-wrapper .nav-tabs .nav-link.active {
      font-size: 1rem !important;
      font-weight: 500 !important;
      background: linear-gradient(to right, white 10%, #F2F2F2);
      position: relative; }
      .lead-news-section .lead-tab-wrapper .nav-tabs .nav-link.active:after {
        content: '';
        position: absolute;
        left: 0;
        top: -4px;
        height: 4px;
        width: 100%;
        background: linear-gradient(to right, #8AB957 70%, #F2F2F2); }
  .lead-news-section .lead-tab-wrapper .nav-tabs .nav-item {
    line-height: 1.2rem; }
    .lead-news-section .lead-tab-wrapper .nav-tabs .nav-item.show .nav-link {
      color: #25282A !important;
      font-size: 13px !important;
      font-weight: 500 !important;
      border-radius: 0rem !important; }
  .lead-news-section .lead-tab-wrapper .tab-content article {
    position: relative; }
    .lead-news-section .lead-tab-wrapper .tab-content article .tab-news-detail {
      border-bottom: 1px solid #EAEAEA;
      margin-bottom: 0.5rem; }
      .lead-news-section .lead-tab-wrapper .tab-content article .tab-news-detail p:nth-child(2) {
        line-height: 1.2rem;
        max-height: 2.2rem;
        overflow: hidden; }
      .lead-news-section .lead-tab-wrapper .tab-content article .tab-news-detail a {
        color: #000; }
        .lead-news-section .lead-tab-wrapper .tab-content article .tab-news-detail a:hover {
          color: #000; }
    .lead-news-section .lead-tab-wrapper .tab-content article:last-of-type .tab-news-detail {
      border-bottom: none;
      margin-bottom: 0; }
    .lead-news-section .lead-tab-wrapper .tab-content article .shared-nr {
      right: -23px;
      top: 15px; }

/* SECTION03 */
.section03 {
  padding-bottom: 50px; }

.section-side-list .section-side-nr {
  font-size: 1.5rem;
  color: #8AB957;
  font-weight: 700;
  line-height: 1.5rem; }
.section-side-list .section-side-list-details {
  line-height: 1.2rem; }

.article-item {
  padding: 17px 31px 17px 19px; }
  .article-item .article-details {
    line-height: 1.3rem; }
  .article-item .shared-nr {
    top: 50%;
    right: -8px; }

/* SECTION03 END */
/* COMMENTS SLIDER SECTION */
.comments-item {
  border: 0.5px solid #ABABAB;
  padding: 15px 35px;
  position: relative; }
  .comments-item:before {
    content: '"';
    position: absolute;
    color: #0BAE92;
    font-size: 40px;
    font-family: 'Geneva';
    top: 55px;
    left: 10px;
    line-height: 0px; }
  .comments-item:after {
    content: '"';
    position: absolute;
    color: #0BAE92;
    font-size: 40px;
    font-family: 'Geneva';
    bottom: 60px;
    right: 5px;
    height: 30px;
    width: 30px;
    line-height: 0px; }

.comments-quote {
  font-size: 15px;
  border-bottom: 1.5px solid #E4E2E2;
  font-weight: 500; }

.owl-carousel .owl-dots .owl-dot.active span,
.owl-carousel .owl-dots .owl-dot:hover span {
  background: #0BAE92; }

.owl-carousel .owl-dots .owl-dot span {
  width: 8px;
  height: 8px; }

.owl-carousel.owl-drag .owl-item {
  padding-bottom: 20px; }

.comments-slider li:after {
  content: '';
  background: url(assets/Screenshot.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 40px;
  width: 40px;
  bottom: -26px;
  left: 50px;
  position: absolute; }

/* COMMENTS SLIDER SECTION END */
/* YOUTUBE COMMENTS */
.article-comments-header {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px; }

.article-quote-item {
  padding: 12px 30px 12px 12px; }

.article-quote-details {
  font-size: 15px;
  font-weight: 500; }

.article-comments-item .shared-nr {
  right: 0;
  bottom: 35px; }

/* YOUTUBE COMMENTS END */
footer {
  background: #272727; }

.footer-nav a {
  font-size: 1.28rem;
  color: #fff;
  margin-left: 1.5rem; }
  .footer-nav a:hover {
    color: #fff; }

/*# sourceMappingURL=theme.css.map */
